@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');



.container{
  font-family: 'Roboto Slab', serif;
  max-width: 50%;
  min-width: 300px;
  margin: auto;
  background-color: rgb(68, 65, 65);
  text-align: center;
  box-shadow: 5px 5px 5px  gray;
  padding-top: 2px;
}

.example-form {
  font-family: 'Roboto Slab', serif;
  min-width: 300px;
  max-width: 95%;
  margin: auto;
  font-size: medium;
  background-color: white;
  padding-bottom: 15px;
}

.example-full-width {
  width: 100%;
}

button{
  font-family: 'Roboto Slab', serif;
  margin-right: 5px;
}

h1{
  font-family: 'Roboto Slab', serif;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.back{
  font-family: 'Roboto Slab', serif;
  text-align: right;
}

.back button{
  font-family: 'Roboto Slab', serif;
  padding: 5px 15px;
  background-color: rgb(238, 220, 220);
  color: black;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 5px;
  margin-top: 5px;
}

.button{
  font-family: 'Roboto Slab', serif;
  font-size: large;
  padding: 5px 25px;
  background-color: rgb(126, 17, 17);
}

.labels{
  font-family: 'Roboto Slab', serif;
  color: rgb(50, 50, 50);
}

/* Error */

.alert {
  font-family: 'Roboto Slab', serif;
  background-color: #c45f58; /* Red */
  color: white;
  max-width: 50%;
  margin-top: 25px;
  margin: auto;
  padding: 10px 30px;
  max-height: 250px;
  box-shadow: 25px 25px 25px rgb(199, 137, 137);
}

/* The close button */

.closebtn {
  font-family: 'Roboto Slab', serif;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */

.closebtn:hover {
  color: black;

}
  .example-full-width {
    width: 100%;
  }

  body{
    background-size: cover;
   background-image: url(../../assets/ppt3.jpg);
  }

  .height{
    min-height: 150px;
  }


  @media (max-width: 800px) {

    h1{
      font-size: 15px;
    }
    .height{
      min-height: 300px;
    }

  }
