
<body class="background" background="../../assets/CGI_LinkedIn_banner_keyboard.jpg">
<div class="container">
  <div>
    <h1 id="title">Welcome to Telecom App </h1>
  </div>
  <div class="img">
    <img src="../../assets/home.jpg" alt="" width="600px" height="300px" >
  </div>

  <div class="para">
    <h2 id="motto">Your Satisfaction Our Priority</h2>
    <p id="aboutus">Telecom Application will make your life easy. Our application
      will connect you to one of the best customer service provider and they will help
      you out to solve your problem. It is process of exchanging information
       over significant distances by electronic means and refers to all types
       of voice and data transmission.This Application is made up of
       companies that make communication possible on a global scale, whether
        it is through the phone or the Internet.
    </p>
  </div>
</div>
<div class="height">
</div>
</body>

