@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


body{
  background-size: cover;
  background-image: url(../../assets/CGI_LinkedIn_banner_pride_flag.jpg);
}
.container{
  
  font-family: 'Roboto Slab', serif;
    max-width: 25%;
    min-width: 300px;
    margin: auto;
    background-color: rgb(68, 65, 65);
    padding-top: 5px;
    text-align: center;
    padding-bottom: 1px;
    box-shadow: 5px 5px 5px  gray;
  }

form{
  
  font-family: 'Roboto Slab', serif;
  background-color: rgb(238, 234, 241);
  min-width: 300px;
  max-width: 95%;
  margin: auto;
  margin-bottom: 25px;
  padding: 5px;
}


.field{
  
font-family: 'Roboto Slab', serif;  
    min-width: 300px;
    max-width: 100%;
    width: 100%;
    margin: auto;
    font-size: medium;
}

h1{
    
font-family: 'Roboto Slab', serif;
    max-width: 50%;
    margin: auto;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    padding: 15px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    border-radius: 10px;
}

.button{

  font-family: 'Roboto Slab', serif;
    text-align: right;
    border: none;
    padding: 25px 45px;
    font-size: 16px;
}

.submit {
  
font-family: 'Roboto Slab', serif;
    padding: 5px 15px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: large;
}


button{
  
font-family: 'Roboto Slab', serif;
  margin-right: 5px;
  color: white;
}

div button {
  
font-family: 'Roboto Slab', serif;
  margin-bottom: 15px;
}

.back{
  
font-family: 'Roboto Slab', serif;
  text-align: right;
}

.backButton{
  
font-family: 'Roboto Slab', serif;
  padding: 5px 15px;
  background-color: rgb(238, 220, 220);
  color: black;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;
  margin-right: 10px;
}

/* Error */

.alert {
  
font-family: 'Roboto Slab', serif;  
  background-color: #c45f58; /* Red */
  color: white;
  max-width: 50%;
  margin-top: 25px;
  margin: auto;
  padding: 10px 30px;
  max-height: 250px;
  box-shadow: 25px 25px 25px rgb(199, 137, 137);
}

/* The close button */

.closebtn {
  
font-family: 'Roboto Slab', serif;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}



/* When moving the mouse over the close button */

.closebtn:hover {
  color: black;

}

body{
  background-size: cover;
}
