
<div class="clsfoot">
  <div>
    <mat-icon  class="social-icon" svgIcon="facebook-1"></mat-icon>&nbsp; &nbsp;
    <mat-icon svgIcon="snapchat"><a href="https://www.snapchat.com/"></a></mat-icon>&nbsp; &nbsp;
    <mat-icon svgIcon="instagram"><a href="https://www.instagram.com/"></a></mat-icon>&nbsp; &nbsp;
    <mat-icon svgIcon="twitter"><a href="https://twitter.com/"></a></mat-icon>
  </div>

  <ul>
    <li>Copyright © 2022 Telecom. All rights reserved.</li>
    <li>Email: customersupport@telecomapp.com </li>
    <li> Address: 250 Yonge Street, Toronto,Ontario</li>
    <li>Call: 123-456-7890 </li>
  </ul>

</div>


